@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Standings</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>W</th>
            <th>L</th>
            <th>PCT</th>
            <th>Home</th>
            <th>Away</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var info in Model.TeamRecordInfos)
        {
            <tr>
                <td>@info.TeamName</td>
                <td>@info.WinCount</td>
                <td>@info.LossCount</td>
                <td>@info.WinPercentage</td>
                <td>@info.HomeRecord</td>
                <td>@info.AwayRecord</td>
            </tr>
        }
    </tbody>
</table>
